<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/output.css' />
</head>

<body>
  <div class="min-h-full">
    <section class="">
      <h1 class="text-2xl">
        <%= title %>
      </h1>
      <p class="text-orange-800">Welcome to <%= title %>
      </p>
    </section>
    <section class="mt-10">
      <% if(articles !=null) { %>
        <% articles.forEach(function(article, index) { %>
          <h1 class="text-3xl text-amber-700">
            <%= article.chapter_name %>
          </h1>
          <small class="text-xs">Chapter: <%= article.chapter_no %> - Verse: <%= article.verse_no %></small>, &nbsp;
          <small class="text-xs">Language: <%= article.language %></small>
          <h2 class="prose mt-2 text-xl text-gray-800"><small>Sanskrit: </small>
            <%= article.verse %>
          </h2>
          <h2 class="prose mt-2 text-xl text-gray-800"><small>Translation: </small>
            <%= article.synonyms %>
          </h2>
          <% const originalString=article.audio_link; const playm=originalString.replace("public/audio", "media/audios"
            ); %>
            <audio controls>
              <source src="<%= playm %>" type="audio/mp3" />
            </audio>
            <h3 class="prose mt-2 text-2xl text-gray-800">Description: <%= article.translation %>
            </h3>
            <h3 class="prose mt-3 text-2xl text-gray-800">Explanation: <%= article.purport %>
            </h3>
            <% }) %>
              <% } else { %>
                No posts found.
                <% } %>
    </section>
  </div>
</body>

</html>